<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.shixi.mapper.testMapper">
    <select id="findAll" resultType="testData">
        select top 10  T1,T2,T3  from V10000 where 1=1
    </select>
    <select id="findByName" parameterType="String" resultType="testData" statementType="STATEMENT">
--         select  top 50 *  from ${table_name} ORDER BY ReportTime desc
        select  top 20 *  from ${table_name}
    </select>
    <select id="findByTime" resultType="testData" parameterType="String">
--         select top 10  T1,T2,T3  from V10000 where 1=1
        select top 10  T1,T2,T3 from V10025 where 1=1 AND convert(date,ReportTime) like #{date}
    </select>
    <select id="findByNameAndTime" parameterType="Search"  resultType="testData">
        select top 50  *  from ${selectArea}  where convert(date,ReportTime) like #{selectDate}
    </select>
    <select id="findByColumn" parameterType="Search" resultType="testData">
        select top 20 ${selectKind},ReportTime  from ${selectArea} where convert(date,ReportTime) like #{selectDate}
    </select>
    <select id="findByColumnAndArea" parameterType="Search" resultType="testData">
        select top 20 ${selectKind}  from ${selectArea}
    </select>
    <select id="findPage" parameterType="Pager" resultType="testData">
        select   *   from
    (select   *,   ROW_NUMBER()   OVER   (order   by   ReportTime)   AS   ROWNUM   from  ${selectArea} ) t
where   ROWNUM   between   #{begin}   and  #{end}
    </select>
    <select id="findPageCount" parameterType="String" resultType="Integer">
        select count (*) from ${table_name}
    </select>
</mapper>